.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  min-height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
  align-self: center;
  color: white;
}

.text {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gold {
}

.fumo-words {
  color: red;
}
